global:
  slack_api_url: {{getenv "ALERTMANAGER_SLACK_URL"}}

route:
  receiver: slack

receivers:
  - name: slack
    slack_configs:
      - channel: "#emergency"
        username: Alertmanager
        fields:
          - title: target
            value: '{{ .Labels.target }}'
        text: '{{ range .Alerts }}{{ .Annotations.description }}\n{{ end }}'
        title: '{{ range .Alerts }}{{ .Annotations.summary }}\n{{ end }}'
        title_link: ''
