global:
  slack_api_url: {{getenv "ALERTMANAGER_SLACK_URL"}}

route:
  receiver: slack

receivers:
  - name: slack
    slack_configs:
      - channel: "#emergency"
        username: Alertmanager
        fields:
          - title: target
            value: {{ .labels.instance }}
